.unreset blockquote {
    background: #f9f9f9;
    border-left: 0.65em solid #ccc;
    margin: 1.5em 1em;
    padding: 0.5em 1em;
    quotes: "\201C""\201D""\2018""\2019";
}

.unreset blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.unreset blockquote p {
    display: inline;
}

.unreset thead tr {
    background-color: rgb(30 64 175 / var(--tw-bg-opacity));
    color: #ffffff;
    text-align: left;
}

.unreset th,
.unreset td {
    padding: 12px 15px;
}

.unreset tbody tr {
    border-bottom: thin solid #dddddd;
}

.unreset tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.unreset tbody tr:last-of-type {
    border-bottom: 2px solid rgb(30 64 175 / var(--tw-bg-opacity));
}



/*  .unreset img{
    max-width: none !important ;
    height: none !important;
    border-radius: .25rem !important;
}  */

/* .unreset .image-center{
    display:block ;
    margin:auto ;

} */