<div class="w-full text-gray-200 bg-blue-800 dark-mode:text-gray-200 dark-mode:bg-gray-800">
	<div
		x-data="{ open: false }"
		class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8"
	>
		<div class="p-4 flex flex-row items-center justify-between bg-blue-800">
			<a
				href="{% url 'home' %}"
				class="text-lg font-semibold tracking-widest text-white uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline"
				>Engineered</a
			>
			<button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
				<svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
					<path
						x-show="!open"
						fill-rule="evenodd"
						d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
						clip-rule="evenodd"
					></path>
					<path
						x-show="open"
						fill-rule="evenodd"
						d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
						clip-rule="evenodd"
					></path>
				</svg>
			</button>
		</div>
		<nav
			:class="{'flex': open, 'hidden': !open}"
			class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row"
		>
			<a
				class="px-4 py-2 mt-2 text-sm font-semibold text-white rounded dark-mode:bg-gray-700 dark-mode:hover:bg-blue-700 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-100 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
				href="{% url 'home' %}"
				>Home</a
			>
			<a
				class="px-4 py-2 mt-2 text-sm font-semibold text-white bg-transparent rounded dark-mode:bg-transparent dark-mode:hover:bg-blue-700 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-white-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-100 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
				href="{% url 'post' %}"
				>Posts</a
			>
			<a
				class="px-4 py-2 mt-2 text-sm font-semibold text-white bg-transparent rounded dark-mode:bg-transparent dark-mode:hover:bg-blue-700 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-100 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
				href="{% url 'about' %}"
				>About</a
			>

			<div @click.away="open = false" class="relative" x-data="{ open: false }">
				<button
					@click="open = !open"
					class="flex flex-row items-center text-white w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded dark-mode:bg-transparent dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:focus:bg-gray-600 hover:rounded dark-mode:hover:bg-gray-600 md:w-auto md:inline md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-100 focus:bg-gray-200 focus:rounded focus:outline-none focus:shadow-outline"
				>
					<span><i class="fa fa-address-book"></i></span>
					<svg
						fill="currentColor"
						viewBox="0 0 20 20"
						:class="{'rotate-180': open, 'rotate-0': !open}"
						class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"
					>
						<path
							fill-rule="evenodd"
							d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
							clip-rule="evenodd"
						></path>
					</svg>
				</button>
				<div
					x-show="open"
					x-transition:enter="transition ease-out duration-100"
					x-transition:enter-start="transform opacity-0 scale-95"
					x-transition:enter-end="transform opacity-100 scale-100"
					x-transition:leave="transition ease-in duration-75"
					x-transition:leave-start="transform opacity-100 scale-100"
					x-transition:leave-end="transform opacity-0 scale-95"
					class="absolute mt-2 origin-top-right rounded shadow-lg ml-6"
				>
					<div class="px-2 py-2 bg-white rounded shadow dark-mode:bg-gray-800">
						<a
							class="block px-4 py-2 mt-2 text-sm text-gray-700 font-semibold bg-transparent rounded dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
							href="https://www.facebook.com/Francofgp/"
							><i class="fab fa-facebook"></i
						></a>
						<a
							class="block px-4 py-2 mt-2 text-sm text-gray-700 font-semibold bg-transparent rounded dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
							href="https://www.instagram.com/francofgp/"
							><i class="fab fa-instagram"></i
						></a>
						<a
							class="block px-4 py-2 mt-2 text-sm text-gray-700 font-semibold bg-transparent rounded dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
							href="https://twitter.com/francofgp"
							><i class="fab fa-twitter"></i
						></a>
						<a
							class="block px-4 py-2 mt-2 text-sm text-gray-700 font-semibold bg-transparent rounded dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
							href="https://www.linkedin.com/in/francofgp/"
							><i class="fab fa-linkedin"></i
						></a>
						<a
							class="block px-4 py-2 mt-2 text-sm text-gray-700 font-semibold bg-transparent rounded dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
							href="https://github.com/francofgp"
							><i class="fab fa-github"></i
						></a>
						<a
							class="block px-4 py-2 mt-2 text-sm text-gray-700 font-semibold bg-transparent rounded dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
							href="https://francofgp.github.io/"
							><img
								class="h-4 fill-current text-gray-600 hover:text-green-700"
								src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAABvElEQVRIie3WK28UURQH8B8YQrAIYNvwEKQJHwIkpEsxKPgCBFqBq6zEIps0waBA8bTg+AQkhAQQlGD7EE2z7FIxO3A5nblzd4Gq/pMj7sw9539eM+dwiAPCkQnuzuIG5nFufIav+IJXeIb1f+VcD6sY4GeHDPEEZ/+WdAFbwfhtXEzO53ETj7E7fraF69OSLqkiiFHViGeYwTu/o1+clPQafjSQNklETP1CKWnP/vSWEK+0vN/E6RLitUKSt7icPMs5t9pFOiuf4hxqRy6NHXuf6A1UmWzFUgvhJ5N36ZVg427u8utweWfs/fEOkrS+deRvgq2XOQMfk4svcKGDMJLm5EPOyLayeqYo7f7tVOlog5H/hVGO+HtwopYHGYPLhcTfci9jc6WyktErqXO2ue51KOcirxG7uZY7OaUZ+fE3alf9hfj9Nv5AYo3X8ShjdFhA3IQ1HTWGM9qHxG4BSUz1Bk6VenhV8z97p0MvpnmIfilpjUX7F4ER7md00miHqmadCn3VPI2RL+MYTmAOt/DUn+mdn5a0xkk8VLbsDVSzt3PwT7Le9lRrTF+14KXr7WfVevtcQfce4kCxByycCEP7BTwbAAAAAElFTkSuQmCC"
						/></a>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>
