{% extends 'base.html' %} {% block content %}
<div>
	<div class="mx-auto">
		<div class="grid grid-cols-12 p-4">
			<div class="lg:col-span-8 lg:col-start-3 col-span-10 col-start-2">
				<div class="unreset">
					<h1 class="text-center">{{ post.title }}</h1>
					<p>{{ post.content|safe }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
<!-- 

     post.body|safe|striptags|truncatechars:100 
https://atlas.redpixelthemes.com/post https://linuxtut.com/en/8f867560af42e0ab229b/
https://www.codesnail.com/integrating-ckeditor-in-django-admin-and-rendering-html-in-a-template-django-blog-4/ 

 -->
